body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #fff;
  color: #333;
  text-align: center;
}

.top-bar {

  background-color: #172544; /* azul escuro */
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-bar h1 {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
}

.back-arrow {
  font-size: 2rem;
  cursor: pointer;

  color: #fff;

}

.voltar {
  color: white;
  text-decoration: none;
  font-size: 24px;
  margin-right: 10px;
}



.form-container {
  max-width: 350px;
  margin: 2rem auto;
  background: #f7f7f7;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex;
  align-items: center;
  margin: 10px 0;
  background: #eee;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  position: relative;
}

.input-group .icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

.input-group input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  padding: 0.5rem 0;
}

.input-group .toggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.botao {
  width: 100%;
  padding: 0.75rem;
  background-color: #004A99;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
}

.botao:hover {
  background-color: #003a78;
}

.cadastro-link {
  font-size: 0.9rem;
  margin-top: 1rem;
}

.botao-login {
  background-color: white;
  padding: 5px 10px;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

